{% extends "base.html" %}
{% block title %}
    About
{% endblock %}
{% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <strong>
                    About
                </strong>
            </h1>
            <div class="card custom-card">
                <div class="card-body">
                    <h5 class="card-title">
                        <strong>
                            You found me!
                        </strong>
                    </h5>
                    <br>
                    <p class="card-text">This is a simple web app that allows you to manage what episode you were watching on a TV show. You can add, update, and delete shows, as well as the current episode you are on and the total number of episodes.</p>
                    <p class="card-text">This app was created by <a href="https://github.com/incub4t0r/whatepisode">f0ur3y3s</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

