{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}

<br>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% if posts is defined %}
    {% for post in posts %}
        <div class="col">
            <div class="card custom-card">
                <div class="card-body">
                    <h5 class="card-title">
                        <strong>
                            {{post.title}}
                            {% if post.current_episode == post.episodes %}
                            <span class="badge text-bg-success ms-2">Completed</span>
                            {% endif %}
                        </strong>
                    </h5>
                    <p class="card-text">
                        You've watched {{post.current_episode}} out of {{post.episodes}} episodes.
                        <div class="progress">
                            {% if post.current_episode == post.episodes %}
                                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: {{((post.current_episode | int / post.episodes | int ) * 100) | round(2)}}%" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            {% else %}
                                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" aria-label="Basic example" style="width: {{((post.current_episode | int / post.episodes | int ) * 100) | round(2)}}%" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            {% endif %}
                        </div>
                    </p>
                    <div>
                        <style>
                            
                        </style>
                        <form class="btn-group" method="POST">
                            <button class="btn btn-lg btn-outline-light" type="submit" formaction="/update/current_episode/decrement/{{post.id}}">◀️</button>
                            <button class="btn btn-lg btn-outline-light" type="submit" formaction="/update/current_episode/increment/{{post.id}}">▶️</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}