{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}

<!-- create an input to add a new tv show with the number of episodes -->
    <div class="container">
        <br>
        <form action="/add" method="POST">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter TV Show" required>
                <label for="title">Name of TV show</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="episodes" name="episodes" placeholder="Enter Number of Episodes" required>
                <label for="episodes">Number of episodes</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="current_episode" name="current_episode" placeholder="Enter Number of Episodes" required>
                <label for="current_episode">Current episode</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}